
<div class="container">
    <table class="racer_table">
      <tr id= "player1_strip" data-player="<%= @player1.id %>" >
        <td class="active"</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id= "player2_strip" data-player="<%= @player2.id %>" >
        <td class="active"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <form>
      <input type="button" value="Submit"/>
    </form>
    <h1>Player 1</h1>
    <h3>Keycode: R</h3>

    <h1>Player 2</h1>
    <h3>Keycode: U</h3>

    <div id="winner">
    </div>
</div>

