<form action="/game" method="post">
  <label for="player1">Player 1 enter your name:</label>
  <input type="text" name="player1" id="player1">
  <label for="player2">Player 2 enter your name:</label>
  <input type="text" name="player2" id="player2">
  <input type="submit" value="Play Game">
</form>
